* {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: -apple-system, BlinkMacSystemFont, Arial, sans-serif;
    background: #111;
    color: white;

    transition: background 0.3s;
}

.container {
    text-align: center;
}

h1 {
    font-size: 40px;
    margin-bottom: 40px;
}

button {
    display: block;
    width: 280px;
    padding: 25px;
    margin: 15px auto;

    border: none;
    border-radius: 20px;

    font-size: 28px;
    font-weight: bold;

    cursor: pointer;
    transition: transform 0.1s;
}

button:active {
    transform: scale(0.96);
}

#callBtn {
    background: #e63946;
    color: white;
}

#clearBtn {
    background: white;
    color: black;
    font-size: 20px;
}

.container.call-active {
    background-color: #ff2a2a;
}

.hidden {
    display: none;
}
